extends ../../layout
// No menu Bar here
block menuBar
block append css_code
	link(rel="stylesheet", type="text/css", href="../css/simplemde.min.css")
	link(rel="stylesheet", type="text/css", href="../css/font-awesome470/css/font-awesome.min.css")
block content 
	.main-panel
		include ../../partials/header 
		.wrapper.wrapper-full-page.full-page-background(ng-controller="update_Note_Ctrl",style="background-image: url('../imgs/register.jpeg')")
			.full-page
				.content
					.container-fluid
						.row
							.col-md-12
								.card
									.card-header.card-header-icon(data-background-color="rose")
										i.material-icons note
									.card-content
										.row
											.col-md-12
												a.label.btn.btn-fill.btn-danger.pull-right(href="/courses/"+course_id) Cancel
												h3.card-title.text-center Edit note :<strong>{{title|uppercase}}</strong>
												form(ng-submit="update_Note()")
													.form-group.label-floating
														textarea.form-control(rows="4" cols="50",ng-model="w_note.code_md")#myTextArea #{code_md}
													button.btn.btn-fill.btn-rose(type="submit") Submit
													a.label.btn.btn-fill.btn-danger.pull-right(href="/courses/"+course_id) Cancel

block append scripts
	script(src="../js/MIT/MIT_sweetalert2.js", type="text/javascript")
	script(src="../js/simplemde.min.js", type="text/javascript")
	script.
		var app =angular.module('eshuri_App', ['ngRoute']);
		app
		.controller('update_Note_Ctrl', function($scope, $http,$window){
			var simplemde = new SimpleMDE({
				placeholder:"Build your own course here",
				autosave:{enabled:true,uniqueId:"#{content_id}",delay:3000,},
				element: document.getElementById("myTextArea"),
				spellChecker:false,
				autoDownloadFontAwesome:false, // cause i will load it myself
				toolbar: ["heading-smaller","heading-bigger","heading-1","heading-2","heading-3","|","bold", "italic", "heading", "|", "quote","strikethrough","code","quote","unordered-list","ordered-list","clean-block","link","image","table","horizontal-rule","preview","side-by-side","fullscreen","guide"]
				});
			$scope.update_Note = function(){
				$scope.w_note._csrf =null;
				$scope.w_note.content_id =$scope.content_id;
				$scope.w_note.course_id =$scope.course_id;
				$scope.w_note.code_md =simplemde.value();
				$scope.w_note.html =simplemde.options.previewRender(simplemde.value());
				$http
		 		.post("/content.update.w_note",$scope.w_note)
		 		.then(function(response){
		 			// redirect back
		 			swal({
						type: 'success',
						html: $scope.title+' has been successfully updated',
						confirmButtonClass: 'btn btn-success',
						buttonsStyling: false
					})
		 			setTimeout(function(){$window.location.href ="/courses/"+response.data;},2000)
				})
				.catch(function(erreur){
					Notifier.danger(erreur.data);
				});	
			}
			$scope.w_note ={};
			$scope.title ="#{title}";
			$scope.content_id ="#{content_id}";
			$scope.course_id ="#{course_id}";
			$scope.anti_csrf ="#{csrf_token}";
		})