extends ../../layout
block content 
	.main-panel
		include ../../partials/header
		.wrapper.wrapper-full-page.full-page-background(ng-controller="ListAnswersViewCtrl",style="background-image: url('../imgs/maranyu2.jpg')")
			.full-page.login-page
				.content
					.container-fluid
						.row
							.col-md-10.center
								.card
									.card-header
										.row
											.col-md-12
												.row
													.col-md-6
														a.btn-simple.btn.label.btn-rose(href="/courses/"+course_id) Go back
														h6.category Test:<strong> {{'#{test_name}'|uppercase}}</strong>
														h6.card-title Course: <strong>{{'#{course_name}'|uppercase}}</strong>
														h4.card-title Unit: <strong>{{'#{unit_name}'|uppercase}}</strong>
														h5.card-title {{#{'term_name'}|toTermName}} {{actual_term}}
										h2.card-title.text-center <strong>Answers from students</strong>
									.card-content
										.table-responsive(ng-show ="userContents.length")
											table.table
												thead
													th.text-center #
													th URN
													th Answer
													th Percentage
													th Corrected
													th Actions
												tbody
													tr(ng-repeat="userContent in userContents")
														td(width="1%" height="1%") {{$index + 1}}
														td {{userContent.student_URN|uppercase}}
														td: a(href="/content.written.view.student.page/{{userContent._id}}") View answer
														td {{userContent.percentage}} %
														td: a.btn-simple.btn.label.btn-rose: i.material-icons {{userContent.isCorrected|toVerified}}
														td {{userContent.updatedAt| my_timeAgo}}
										p.category.text-center(ng-show ="!userContents.length") No user answers available
block append scripts
	script(src="../js/MIT/MIT_sweetalert2.js", type="text/javascript")
	script(src="../js/MIT/MIT_moment.min.js", type="text/javascript")
	script.
		var app =angular.module('eshuri_App', ['ngRoute']);
		app
		.filter('toTermName', function() {
			return function(input){
				return input=='S'?'Semester':'Term'
			}
		})
		.filter('toVerified', function() {
			return function(input){
				return input==true? 'verified_user':'timer';
			}
		})
		.filter('my_timeAgo', function() {
			return function(input){
				return moment(new Date(input).getTime()).fromNow();
			}
		})
		.controller('ListAnswersViewCtrl', function($scope, $http,$window){
			$scope.loadUserAnswers = function(){
				$scope.userContents=[];
				$http
				.get("/content.answers.list.json/#{content_id}")
				.then(function(response){
					$scope.userContents=response.data;
				})
				.catch(function(erreur){
					Notifier.danger(erreur.data)
				});
			}
			//Initial values
			$scope.userContents=[];
			$scope.course_id ="#{course_id}";
			$scope.actual_term ="#{actual_term}";
			$scope.user_contents=[]; // userContentS will be loaded from back end server 
			$scope.loadUserAnswers();
		})
