extends ../../layout
block append css_code
	link(rel="stylesheet", type="text/css", href="../css/font-awesome470/css/font-awesome.min.css")
block content 
	.main-panel
		include ../../partials/header 
		.wrapper.wrapper-full-page.full-page-background(ng-controller="correctWrittenTestCtrl",style="background-image: url('../imgs/register.jpeg')")
			.full-page.login-page
				.content
					.container-fluid
						.row
							.col-md-8.center
								.card
									.card-header.card-header-icon(data-background-color="rose")
										i.material-icons assessment
									a.btn-simple.btn.label.btn-rose(href="/content.answers.page/"+content_id) Go back
									.card-content
										h5.card-title Student URN: <strong>{{student_URN|uppercase}}</strong>
										p.category First answers  : {{firstTime}}
										p.category Last correction: {{time}}
										h3.card-title.text-center View answers of <strong> {{'#{student_URN}'|uppercase}}</strong>
							.col-md-10.center
								.card
									.card-header
										h2.card-title.text-center {{Q.length || 0}} Questions up to<strong> {{total}} Pts</strong>
									.card-content
										.panel-group(role='tablist')#accordion
											h5.card-title.text-center(ng-show="!Q.length") <i>No questions yet </i>
											.panel.panel-default(ng-repeat="quest in Q")
												.panel-heading(role='tab', id="{{'tab_'+$index}}", ng-click="setCurrentQuest($index)")
													a(role='button', data-toggle='collapse', data-parent='#accordion', href="#{{'collapse_'+$index}}", aria-expanded="false", aria-controls="{{'collapse_'+$index}}")
														h4.panel-title
															| {{$index+1}}. {{quest.t|uppercase}}  ({{quest.m}} pts)
															i.material-icons keyboard_arrow_down
												.panel-collapse.collapse(role='tabpanel', aria-labelledby="{{'tab_'+$index}}", id="{{'collapse_'+$index}}")
													.panel-body
														.col-md-12
															a.btn-simple.btn.label.btn-rose(ng-show="quest.p !=0")
																	i.material-icons warning
																	|Attention,  - {{quest.p}} pts if wrong !
															p.category Answers
															.reponses(ng-repeat="elt in Answers[$index]")
																h4 {{elt}}
block append scripts
	script(src="../js/MIT/MIT_sweetalert2.js", type="text/javascript")
	script(src="../js/MIT/MIT_moment.min.js", type="text/javascript")
	script(src="../js/MIT/bootstrap-datetimepicker.js", type="text/javascript")
	script.
		var app =angular.module('eshuri_App', ['ngRoute']);
		app
		.controller('correctWrittenTestCtrl', function($scope, $http,$window){

			$scope.setCurrentQuest= function(quest_num){
				$scope.currentQuest= quest_num;
			}
			$scope.loadInfo = function(){
				$http
				.get("/content.written.view.student.json/#{marks_id}")
				.then(function(response){
					$scope.Q =response.data.Q;
					$scope.title =response.data.title;
					$scope.Answers =response.data.Answers;
					$scope.total =response.data.total;
				})
				.catch(function(erreur){
					Notifier.danger(erreur.data);
				}); 
			}	
			$scope.Q =[];
			$scope.time =moment("#{updatedAt}").fromNow();
			$scope.firstTime =moment("#{upload_time}").fromNow();
			$scope.student_URN= "#{student_URN}"

			$scope.anti_csrf ="#{csrf_token}";
		 	$scope.loadInfo();
		})
