extends ../../layout
block content 
	.main-panel
		include ../../partials/header
		.wrapper.wrapper-full-page.full-page-background(ng-controller="updateNoteCtrl",style="background-image: url('../imgs/register.jpeg')")
			.full-page.login-page
				.content
					.container-fluid
						.row
							.col-md-6.center
								.card
									.card-header.card-header-icon(data-background-color="rose")
										i.material-icons attach_file
									.card-content
										.row
											.col-md-12.center
												a.label.btn.btn-fill.btn-danger.pull-right(href="/courses/"+course_id) Cancel
												h3.card-title.text-center Update <strong>{{'#{title}'|uppercase}}</strong> 
												form(action="/content.update.note",method="POST",enctype="multipart/form-data")
													.form-group.label-floating
														button.btn.btn-success.btn-round Click to upload
															i.material-icons attach_file
															input(type="file",required="true",name="pdf_note")
															input(type="hidden",required="true",name="content_id",value="#{content_id}")
													button.btn.btn-fill.btn-rose(type="submit").pull-right Submit
block append scripts
	script.
		var app =angular.module('eshuri_App', ['ngRoute']);
		app
		.controller('updateNoteCtrl', function($scope, $http){

			$scope.unit_id ="#{unit_id}"
			$scope.content_id ="#{content_id}"
			$scope.anti_csrf ="#{csrf_token}";			
		})
