extends ../../layout
block content 
	.main-panel
		include ../../partials/header
	.wrapper.wrapper-full-page.full-page-background(ng-controller="add_Uploaded_Ctrl",style="background-image: url('../imgs/register.jpeg')")
		.full-page.login-page
			.content
				.container-fluid
					.row
						.col-md-6.center
							.card
								.card-header.card-header-icon(data-background-color="rose")
									i.material-icons person
								.card-content
									.row
										.col-md-12.center
											a.label.btn.btn-fill.btn-danger.pull-right(href="/courses/#{course_id}") Cancel
											h3.card-title.text-center Add a new offline test to <strong>{{'#{unit_name}'|uppercase}}</strong> 
											form(ng-submit="submitNewOffline()")
												.row
													.col-md-10
														.form-group.label-floating
															label.control-label Title of the offline test
															input.form-control(type="text",required="true",ng-model="title",maxlength="140")
													.row
														.col-md-4
															.form-group.label-floating
																label.control-label Marks for this test
																input.form-control(type="number",required="true",ng-model="marks")
														.col-md-3
															.form-group.label-floating.bg-inverse.text-white
																h4.text-title Is it exam?
														.col-md-3
															.form-group.label-floating.bg-inverse.text-white
																label.control-label Tick the case if it is Exam
																input.form-control(type="checkbox",ng-model="isexam")
												button.btn.btn-fill.btn-rose(type="submit").pull-right Submit
block append scripts
	script.
		var app =angular.module('eshuri_App', ['ngRoute']);
		app
		.controller('add_Uploaded_Ctrl', function($scope, $http,$window){
			$scope.submitNewOffline = function(){
				$http
				.post("/content.add.offline/",{
					_csrf:$scope.anti_csrf,
					unit_id:"#{unit_id}",
					title:$scope.title,
					marks:$scope.marks,
					isexam:$scope.isexam,
				})
				.then(function(response){
					Notifier.success(" Operation successful")
					setTimeout(function(){$window.location.href="/courses/#{course_id}"},2000);					
				})
				.catch(function(erreur){
					Notifier.danger(erreur.data);
				}); 
			}
			$scope.unit_id ="#{unit_id}"
			$scope.anti_csrf ="#{csrf_token}";			
		})